.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10vw;
    margin-bottom: 0;
    padding-top: 4.5vw;
    margin-top: 4.5vw;
    padding-bottom: 2vw;
    border-top: .1vw solid #ccc;
}

.leftFoot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 34vw;
}

.leftFoot h3{
    font-weight: 300;
    font-size: 1.3vw;
}

.leftFoot p{
    font-weight: 400;
    font-size: 1.3vw;
    color: #6f6f6f;
}

.rightFoot{
    display: flex;
    flex-direction: column;
    font-family: 'Teko', sans-serif;
    font-size: 1.3vw;
    letter-spacing: 2px;
    line-height: 2vw;
}

@media (max-width: 550px) {
    .Footer{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .leftFoot{
        margin-top: 4vw;
        width: 50vw;
        text-align: center;
        align-items: center;
    }
    .leftFoot h3{
        font-size: 1.8vw;
    }
    .rightFoot{
        flex-direction: row;
        letter-spacing: .1vw;
        font-size: 2vw;
    }
    .rightFoot a{
        padding: 0 2vw;
    }
    .leftFoot p{
        font-size: 1.8vw;
        margin-top: 2vw;
    }
}

@media (max-width: 430px) {
    .leftFoot h3{
        font-size: 2.3vw;
    }
    .rightFoot{
        font-size: 2.5vw;
    }
    .leftFoot p{
        font-size: 2.3vw;
    }
}