.Hero{
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100vw;
    justify-content: space-evenly;
    flex-direction: column;
}

.Hero button{
    background-color: #fff;
    border: none;
}

.Hero button img{
    width: 16vw;
    border-radius: 30%;
}

.heroContainer h3{
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 1.7vw;
    letter-spacing: .7vw;
    word-spacing: 1vw;
    text-align: center;
    margin-bottom: 10vw;
}    

@media (max-width: 550px) {
    .Hero button img{
        width: 30vw;
    }
    .heroContainer h3{
        font-size: 2.8vw;
    }
}

@media (max-width: 430px) {
    .heroContainer h3{
        font-size: 3.5vw;
    }
}