.Portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Portfolio h1 {
    font-size: 3vw;
}

.portContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px 0 9vw 0;
    width: 90vw;
    gap: 4vw;
    align-items: center;
}
.port{
    display: flex;
}

.port img{
    border: .01vw solid #ccc;
    width: 100%;
    height: 40vh;
    position: relative;
    z-index: 0;
    filter: grayscale(1);
}

@media (max-width: 550px) {
    .portContainer{
        gap: 0;
    }
    .Portfolio h1 {
        font-size: 4vw;
    }
    .port{
        margin-top: 20px;
    }
    .port img{
        height: 30vh;
        margin: 0 !important;
        margin: 5vw 0;
    }
}

@media (max-width: 430px) {
    .Portfolio h1 {
        font-size: 5vw;
    }
    .portContainer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }    
}