.Testimonial{
    background-color: #fff;
    border: .01vw solid #000;
    text-align: center;
    padding: 2vw;
    height: fit-content;
}

.Testimonial h2{
    font-size: 1.3vw;
    font-family: 'Inknut Antiqua', serif;
}

.Testimonial h3{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2vw;
    color: #898989;
    word-spacing: normal;
    letter-spacing: normal;
    margin-bottom: 0;
    margin: .6vw 0;
}

.Testimonial .rating{
    color: var(--pink);
}

.Testimonial p{
    font-size: 1.4vw;
}

@media (max-width: 550px) {
    .Testimonial h2{
        font-size: 1.7vw;
    }
    .Testimonial h3{
        font-size: 1.6vw;
    }
    .Testimonial p{
        font-size: 1.9vw;
    }
}

@media (max-width: 430px) {
    .Testimonial h2{
        font-size: 2.5vw;
    }
    .Testimonial h3{
        font-size: 2.2vw;
    }
    .Testimonial p{
        font-size: 2.8vw;
    }
}