@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');

html {
  scroll-behavior: smooth;
}

:root{
  --pink: #f83a53;
  --blue: #0c1631;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: 'Inknut Antiqua', serif;
}

h2, h3, h4{
  font-family: 'Teko', sans-serif;
}

button{
  font-family: 'Teko', sans-serif;
}

p{
  font-family: 'Teko', sans-serif;
  font-weight: 300;
}

img{
  border-radius: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
